/pdf2bmp2/CxImage/Debug
/pdf2bmp2/CxImage/Unicode_Debug
/pdf2bmp2/CxImage/Unicode_Release
/pdf2bmp2/Debug
/pdf2bmp2/Release
/pdf2bmp2/jpeg/Debug
/pdf2bmp2/jpeg/Unicode_Debug
/pdf2bmp2/jpeg/Unicode_Release
/pdfpcnt/obj
/pdfpcnt/bin
/CmdThumbGen/x64
/CmdThumbGen/Debug
/CmdThumbGen/Release
/dxf2bmp/bin
/dxf2bmp/obj
/Setup_ThumbGensPack.exe
/Jnt2bmp/bin
/Jnt2bmp/obj
/bpg2bmp/bin
/bpg2bmp/obj
*.user
*.suo
*.ncb
*.aps